
<mat-toolbar color="primary" class="navbar">
  <div>
    <button mat-icon-button class="example-icon" >
      <mat-icon>menu</mat-icon>
    </button>
    TYPESTY
  </div>
  <div>
    <span>
      
      <button  mat-icon-button class="example-icon" routerLink='/home'>
      	<mat-icon>fiber_new</mat-icon>
      </button>
    </span>
    <span>
      <button mat-icon-button class="example-icon" routerLink='/carrito' >
        
      	<mat-icon>open_in_new</mat-icon>
      </button>
    </span>
    <span>
      <button mat-icon-button class="example-icon" routerLink='/home'>
        <mat-icon>save_alt</mat-icon>
      </button>
    </span>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>