<mat-toolbar color="primary" class="navbar">
    <div>
      <button mat-icon-button class="example-icon" >
        <mat-icon>menu</mat-icon>
      </button>
      TYPESTY
    </div>
    <div>
      <span>
        
        <button  mat-icon-button class="example-icon"  data-bs-toggle="modal" data-bs-target="#exampleModal">
            <mat-icon>fiber_new</mat-icon>
        </button>
      </span>
      <span>
        <button mat-icon-button class="example-icon" routerLink='/carrito' >
          
            <mat-icon>open_in_new</mat-icon>
        </button>
      </span>
      <span>
        <button mat-icon-button class="example-icon" routerLink='/home'>
          <mat-icon>save_alt</mat-icon>
        </button>
      </span>
    </div>
  </mat-toolbar>
<mat-card class="example-card">
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <br>
            <div class="row">
                <div class="col-md-6">
                    <mat-card class="example-card">
                        <mat-card-header class="container">
                            <mat-card-title>Editor</mat-card-title>
                            
                          </mat-card-header>
                          <mat-card-content>    
                            <div style="width: auto; height: 500px;">
                                <ngx-monaco-editor [formControl]="editorTexto" [options]="editorOptions"
                                [(ngModel)]="textoEditores[indiceEditorActual]" (init)="editorInit($event)"></ngx-monaco-editor>
                                <br>
                            </div>
                          </mat-card-content>
                              
                        <mat-card-actions>
                            <div align="right">
                                <br>
                                <button  mat-stroked-button  data-bs-toggle="modal" (click)="analizar()" >Ejecutar</button>
                                <button  mat-stroked-button color="accent"  data-bs-toggle="modal" data-bs-target="#modalArbol" >Arbol AST</button>
                                
                            </div>
                            
                            
                            
                        </mat-card-actions>
                    </mat-card>
                    
                </div>
                <div class="col-md-6">
                    <mat-card class="example-card">
                        <mat-card-header class="container">
                            <mat-card-title>Consola</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div style="width: auto; height: 500px;">
                                <ngx-monaco-editor [formControl]="consola" [options]="consoleOptions"
                                    [(ngModel)]="console" (init)="editorInit($event)" aria-readonly="true">
                                </ngx-monaco-editor>
                            </div>
                        </mat-card-content>
                        <mat-card-actions>

                        </mat-card-actions>
                    </mat-card>
                       
                        <br>    
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-8 tab">
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item active">
                    <a class="nav-link active" data-toggle="tab" href="#simbolos">Tabla de Símbolos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#errores">Tabla de Errores</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active show" id="simbolos">
                    <div class="col-md-12">
                        <br>
                        <div style="width: auto; height: auto;">
                            <table class="table table-success table-hover">
                                <thead>
                                    <tr>
                                        <td>Identificador</td>
                                        <td>Tipo</td>
                                        <td>Tipo Dato</td>
                                        <td>Ambito</td>
                                        <td>Linea</td>
                                        <td>Columna</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let fila of TablaDeSimbolos">
                                        <td>{{fila.identificador}}</td>
                                        <td>{{fila.tipoSimbolo}}</td>
                                        <td>{{fila.tipoVar}}</td>
                                        <td>{{fila.entorno}}</td>
                                        <td>{{fila.linea}}</td>
                                        <td>{{fila.columna}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <br>
                    </div>
                </div>
                <div class="tab-pane fade" id="errores">
                    <div class="col-md-12">
                        <br>
                        <div style="width: auto; height: auto;">
                            <table class="table table-danger table-hover">
                                <thead>
                                    <tr>
                                        <td>hola</td>
                                        <td>mundo</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>2</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
</mat-card>


<div class="modal fade" id="modalArbol" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLabel" style="color: crimson;">Arbol AST</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <img [src]="imageSource" alt="Image Source" class="center">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         
        </div>
      </div>
    </div>
  </div>


  <script>
    var myModal = document.getElementById('modalArbol')
    var myInput = document.getElementById('myInput')
  
    myModal.addEventListener('shown.bs.modal', function () {
      myInput.focus()
    })
  
    var myModal = document.getElementById('exampleModal')
    var myInput = document.getElementById('myInput')
  
    myModal.addEventListener('shown.bs.modal', function () {
      myInput.focus()
    })
    </script>

    
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLabel" style="color: crimson;">Nuevo Archivo</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="mb-3">
            <input class="form-control" type="file" id="formFile" name = "currentInput" accept=".ty" (change)="seleccionarArchivo($event)">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="cargarArchivo()" data-bs-dismiss="modal">Agregar</button>
        </div>
      </div>
    </div>
  </div>